@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400&family=Bellefair&display=swap");

// *COLOR VARIABLES
$primary: #0b0d17;
$secondary: #d0d6f9;
$tertiary: #ffffff;

// *FONT VARIABLES
$font-bellefair: "Bellefair", serif;
$font-barlow-condensed: "Barlow Condensed", sans-serif;

// *FONT SIZE VARIABLES
$h1: 150px;
$h2: 100px;
$h3: 56px;
$h4: 32px;
$h5: 28px;
$word-spacing_h5: 4.75px;
$sh1: 28px;
$sh2: 14px;
$word-spacing_sh2: 2.35px;
$n1: 16px;
$word-spacing_n1: 2.7px;
$p: 18px;
